@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Poppins:wght@400;500&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:wght@100;300;700&family=Poppins:wght@400;500&family=Teko:wght@300..700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* ################top navbar##################### */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
  padding: 0 80px;
  font-family: "Lato", sans-serif;
}

.navbar  ul,li {
  list-style: none;
  display: inline-block;
  color: rgb(212, 211, 211);
  text-decoration: none;
  font-size: 14px;
  /* padding: 8px 7px; */
  font-weight: 600;
  transition: 0.3s;
  letter-spacing: 1px;
}

.navbar .left-side li{
  list-style: none;
  padding: 8px 7px;
}

.navbar .right-side li{
  padding: 8px 7px;

}

.navbar .right-side .small-icon{
  display: none;
}

.navbar a{
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0 2px;
  transition: 0.3s;
  text-transform: capitalize;
}

.navbar a :after{
  content: " ";
  position: absolute;
  background-color: #f53f95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar a:hover :after{
  width: 100%;
}

.navbar img {
  height: 23px;
  border: 2px solid white;
  border-radius: 3px;
}

.navbar li a:hover{
  color: #f53f95;
}

.flags ,p{
  cursor: pointer;
}

.flags-dropdown {
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.80);
  position: absolute;
  background-color: #FFFFFF;
  width: 10%;
  margin-top: 11.5px;
  z-index: 1;
}

.flags-dropdown p{
  color: black;
  font-weight: 600;
  padding: 5px 10px;
}


.flags:hover .flags-dropdown  {
  display: block;
}

/* #############second navbar############# */

.navbar-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
  height: auto;
  position: relative;
}

.navbar-second .nav-links a {
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
  padding: 8px 5px;
}

.nav-links li :hover {
  color: #f53f95;
}

.navbar-second .nav-icons .fa-solid {
  padding-left: 20px;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}
/* ############### secound navbar dropdowm box############## */

/* home */
.home .home-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: white;
  width: 15%;
  margin-top: 30px;
  z-index: 1;
}

.home .home-dropdown a{
  display: block;
  color: gray;
  padding: 10px 10px;
  border-bottom: 1px dashed rgb(235, 233, 233);
  transition: 0.3s;
}

.home .home-dropdown a:hover{
  color: #f53f95;
}

.home:hover .home-dropdown {
  display: block;
}

/* shop */

.shop .shop-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: #fff;
  width: auto;
  height: 70vh;
  margin-top: 30px;
  z-index: 1;
  left: 0;
  right: 0;
}

.shop:hover .shop-dropdown{
  display: block;

}

.shop-dropdown .shop-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 100px;
  width: auto;
}

.shop-dropdown .shop-content .shop-style li {
  display: block;
  color: gray;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 0;
  font-weight: 500;
}

.shop-style ul{
  padding-top: 20px;
}

.shop-dropdown .shop-content .shop-style li:hover{
  color: #f53f95;
}

.shop-style h3{
  text-transform: uppercase;
  padding-top: 20px;
  border-bottom: 1px solid rgba(214, 210, 210, 0.516);
  color: black;
  transition: 0.3s;
  position: relative;
}

.shop-style h3::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}



/* page */
.page .page-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: #fff;
  width: auto;
  height: 70vh;
  margin-top: 30px;
  z-index: 1;
  left: 0;
  right: 0;
}

.page:hover .page-dropdown{
  display: block;
}

.page-dropdown .page-content{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 15px 100px;
  width: auto;
}

.page-style li {
  display: block;
  color: gray;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}

.page-style ul{
  padding-top: 20px;
}

.page-style li:hover{
  color: #f53f95;
}

.page-style h3{
  text-transform: uppercase;
  padding-top: 20px;
  border-bottom: 1px solid  rgba(214, 210, 210, 0.516);
  color: black;
  position: relative;
  transition: 0.3s;
}

.page-style h3::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

/* womens */

.women .women-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: #fff;
  width: auto;
  height: 70vh;
  margin-top: 30px;
  z-index: 1;
  left: 0;
  right: 0;
}

.women:hover .women-dropdown{
  display: block;
}

.women-dropdown .women-content{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 15px 100px;
  width: auto;
}

.women-style li {
  display: block;
  color: gray;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}

.women-style ul{
  padding-top: 20px;
}

.women-style li:hover{
  color: #f53f95;
}

.women-style h3{
  text-transform: uppercase;
  padding-top: 20px;
  border-bottom: 1px solid rgba(214, 210, 210, 0.516);
  color: black;
  position: relative;
  transition: 0.3s;
}

.women-style h3::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.women-content .women-image img{
  width: 350px;
  height: 200px;
  display: block;
  padding-top: 20px;
  object-fit: contain;
}

/* mens */

.men .men-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: #fff;
  width: auto;
  height: 70vh;
  margin-top: 30px;
  z-index: 1;
  left: 0;
  right: 0;
}

.men:hover .men-dropdown{
  display: block;
}

.men-dropdown .men-content{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 15px 100px;
  width: auto;
}

.men-style li {
  display: block;
  color: gray;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 0;
  font-weight: 500;
  text-transform: capitalize;
}

.men-style ul{
  padding-top: 20px;
}

.men-style li:hover{
  color: #f53f95;
}

.men-style h3{
  text-transform: uppercase;
  padding-top: 20px;
  border-bottom: 1px solid rgba(214, 210, 210, 0.516);
  color: black;
  position: relative;
  transition: 0.3s;
}

.men-style h3::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.men-content .men-image img{
  width: 350px;
  height: 200px;
  display: block;
  padding-top: 20px;
  object-fit: contain;
}

/* blogs */

.blog .blog-dropdown { 
  display: none;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.137);
  position: absolute;
  background-color: white;
  width: 15%;
  margin-top: 30px;
  z-index: 1;
}

.blog .blog-dropdown a{
  display: block;
  color: gray;
  padding: 10px 20px;
  border-bottom: 1px dashed rgb(235, 233, 233);
  transition: 0.3s;
  font-weight: 500;
  font-size: 13px;
}

.blog .blog-dropdown a:hover{
  color: #f53f95;
}

.blog:hover .blog-dropdown {
  display: block;
}

/* #####################small box################### */
.navbar-second .closebar {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 400px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 40px;
  transition: right 0.5s ease-in-out;
}

.closebar .close-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 0px 5px;
  font-weight: 500;
}

.close-top {
  border-bottom: 0.5px solid rgba(214, 210, 210, 0.516);
  position: relative;
}

.closebar .close-top::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}


.closebar .close-top .close-top-icon {
  transition: 0.3s;
  cursor: pointer;
}

.closebar .close-top .close-top-icon:hover {
  color: #f53f95;
}

.closebar .close-content {
  font-size: 13px;
  padding-top: 30px;
  line-height: 1.5;
  color: gray;
}

.closebar .close-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 500;
}

.close-contacts p{
  text-decoration: none;
  font-size: 15px;
  color: black;
  position: relative;
  padding: 0 2px;
  transition: 0.3s;
  
}


.close-contacts p :after{
  content: " ";
  position: absolute;
  background-color: #f53f95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 1s;
}

.close-contacts p:hover :after{
  width: 100%;
}

.close-contacts .fa-solid {
  padding-top: 10px;
  font-size: 15px;
}

.close-contacts p:hover{
  color: #f53f95;
}

.closebar .close-icons {
  color: #f53f95;
  padding-top: 30px;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
}

.closebar   .close-icons .fa-brands {
  background-color: #f1f1f1;
  padding: 7px;
  border-radius: 3px;
  transition: 0.3s;
}

.closebar .close-icons .fa-brands:hover {
  background-color: #f53f95;
  color: white;
}

.closebar .close-store {
  font-size: 20px;
  text-transform: capitalize;
  padding: 40px 0px 5px;
  border-bottom: 0.5px solid rgba(214, 210, 210, 0.516);
  font-weight: 500;
  position: relative;
  width: 100%;
}

.closebar .close-store::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.close-image li{
  padding-right: 10px;
}
.close-image img {
  width: 90px;
  height: 85px;
  border-radius: 3px;
  width: 100%;
  transition: 0.3s;
}

.close-image ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.close-store-content {
  padding-top: 20px;
  font-size: 13px;
  line-height: 2;
  color: gray;
  letter-spacing: 1px;
}

.close-store-shop-now p {
  font-size: 20px;
  text-transform: capitalize;
  padding: 40px 0px 5px;
  border-bottom: 0.5px solid rgba(214, 210, 210, 0.516);
  font-weight: 500;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.close-store-shop-now p::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.close-store-shop-now p:hover {
  color: #f53f95;
  cursor: pointer;
}


/* ##############account head############## */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  background-color: #f8f8f8;
  font-family: "Cabin" serif;
}

.head .account-link a {
  color: black;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.head .account-link a:hover {
  color: #f53f95;
}

.head .account-link span {
  font-size: 14px;
}

.head .account {
  font-weight: 600;
}

/* ############content###################### */
.content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 100px 100px;
}

.content .login {
  font-size: 25px;
  width: 48%;
}

.content .login input {
  padding: 18px;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 25px; 
  border: 1px solid #fff;
  -webkit-transition: 0.5s; 
  transition: 0.5s;
  outline: none;
  font-size: 15px;
}

.content .login input:focus{
  border: 1px solid #F53F85;
  background-color: #fff;
}

.content .login input:focus::placeholder{
  color: white;
}


.content .login a {
  color: white;
  padding: 15px;
  border: 1px solid  #F53F85;
  width: 100%;
  background: #F53F85;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
}

.content .lost p {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid gray;
  width: 155px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.content .lost p::after{
  content: ' ';
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0%;
  right: 0;
  bottom: -1px;
  transition: 0.3s;
}

.content .lost p:hover::after{
  width: 100%;
}

.content .lost p:hover {
  color: #f53f95;
}

.content .login a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.customer {
  width: 48%;
  /* margin-bottom: 85px; */
}

.customer h5 {
  margin-top: 22px;
  font-weight: 200;
  font-size: 17px;
}

.customer p {
  font-size: 13px;
  padding-top: 15px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: gray;
  width: 100%;
}

.customer a {
  color: black;
  padding: 10px 30px;
  border: 1px solid black;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
}

.customer a:hover {
  color: white;
  background-color: #f53f95;
  border: 1px solid #f53f95;
}

/* #################slider################# */
.slider {
  width: 100%;
  height: auto;
  padding: 20px;
}

.slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slide ul{
  padding-right: 180px;
}

.slide-icons{
  animation: 10s slide infinite linear;
}

.slide-icons li{
  display: block;
  text-align: center;
}

.slide-icons i{
  padding: 50px;
  color: black;
  font-size: 45px;
  background-color: #fbf8f8;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.slide-icons p{
  display: block;
  background-color: #ffffff;
  position: relative;
  padding-top: 18px;
  z-index: 1;
  margin-top: -45px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.slide-icons i:hover{
  background-color: #F53F85;
  color: #f1f1f1;
}

.slider-wrapper{
  position: relative;
  max-width: 80rem;
  margin: 0 auto;

}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-300%);
  }
}

/* ##################insta################# */
.media-insta{
  text-align: center;
  padding-top: 50px;
}

.media-insta i{
  padding-right: 5px;
}

.media-insta p{
  font-size: 15px;
  font-weight: 300;
  font-family: "Lato";
  text-transform: uppercase;
  transition: 0.8s;
  letter-spacing: 1.5px;
}

.media-insta p:hover{
  color: #F53F85;
}

/* ######################footer image############### */

.footer-image{
  padding-top: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.footer-slide-image{
  display: inline-block;
  animation: 60s slide infinite linear;
}

.footer-slide-image:hover{
  animation-play-state: running;
}

.footer-slide-image img{
  height: 250px;
  cursor: pointer;

}
/* animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

/* #############footer############ */
.footer{
  background-color: #000;
  width: 100%;
  height: 80vh;
  padding: 80px 100px;
  color: #f1f1f1;
  position: relative;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lines {
  z-index: -1;
}

.line{
  position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.108);
    overflow: hidden;
}

.lines :nth-child(1)::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transform-origin: top;
  animation: animate 5s linear infinite;
}

@keyframes animate 
{
  0%,20%
  {
    transform: scaleY(0);
  }
  40%
  {
    transform: scaleY(1);
    transform-origin: top;
  }
  40.000001%,60%
  {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  80%,100%
  {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}


.lines :nth-child(2)::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transform-origin: top;
  animation: animate 10s linear infinite;
}

.lines :nth-child(3)::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transform-origin: top;
  animation: animate 15s linear infinite;
}

/* 
.lines:nth-child(1)::after {
  content: ' ';
  position: absolute;
  transform: translateX(-50%) scale(0);
  top:0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #f1f1f1;
  border-radius: 50%;
  animation: animateDot 8s linear infinite;
  z-index: 999;
}

@keyframes animateDot
{
  0%{
    transform: translateX(-50%) scale(0);
  }
  5%
  {
    transform: translateX(-50%) scale(1);
    
  }
  15%,20%
  {
    transform: translateX(-50%) scale(1);
    box-shadow: 0 0 0 4px #f1f1f122,
    0 0 0 10px #f1f1f122,
    0 0 20px #f1f1f1
    0 0 40px 5px #f1f1f1
    0 0 60px 10px #f1f1f1;
  }
  40%
  {
    transform: translateY(-50%) translateX(395px) scale(1); 
  }
  80%
  {
    transform: translateY(-50%) translateX(395px) scale(1); 
    box-shadow: 0 0 0 4px #f1f1f122,
    0 0 0 10px #f1f1f122,
    0 0 20px #f1f1f1
    0 0 40px 5px #f1f1f1
    0 0 60px 10px #f1f1f1;
  }
  95%
  {
    transform: translateY(-50%) translateX(395px) scale(1);
    box-shadow: none;
  }
  100%{
    transform: translateX(-50%) translateX(395px) scale(0);
  }
} */

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

/* footer-about */
.footer-about .footer-sub {
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 0px 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.108);
  font-weight: 600;
  position: relative;
}

.footer-sub p::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.footer-about .footer-about-content{
  font-size: 13px;
  padding-top: 30px;
  font-weight: 500;
  width: 200px;
}

.footer-terms{
  padding-top: 10px;
}

.footer-terms p{
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  position: relative;
  padding: 7px 2px;
  transition: 0.3s;
}

.footer-terms p::after{
  content: " ";
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.8s;
}

.footer-terms p:hover::after{
  width: 100%;
}

.footer-terms p:hover{
  color: #f53f95;
}

.footer-about .close-icons{
  color: #f53f95;
  padding-top: 18px;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
}

.footer-about .close-icons .fa-brands {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 3px;
  transition: 0.8s;
}

.footer-about .close-icons .fa-brands:hover {
  background-color: #f53f95;
  color: white;
}

/* footer-quick */

.footer-quick .footer-sub {
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 0px 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.108);
  font-weight: 600;
  width: 250px;
  position: relative;
}

.footer-sub p::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}

.footer-quick .quick-links{
  padding-top: 20px;
}

.footer-quick .quick-links li{
  display: block;
  padding: 8px 7px;
  /* position: relative; */
}

.footer-quick .quick-links a{
  text-decoration: none;
  color: #f1f1f1;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
}

.footer-quick .quick-links a::after{
  content: " ";
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -1px;
  transition: 0.8s;
}

.footer-quick .quick-links a:hover::after{
  width: 100%;
}

.footer-quick .quick-links a:hover{
  color: #F53F85;
}

/* footer-customer */

.footer-customer .footer-sub {
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 0px 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.108);
  font-weight: 600;
  width: 250px;
  position: relative;
}

.footer-sub p::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}


.footer-customer .quick-links{
  padding-top: 20px;
}

.footer-customer .quick-links li{
  display: block;
  padding: 8px 7px;
  /* position: relative; */
}

.footer-customer .quick-links a{
  text-decoration: none;
  color: #f1f1f1;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
}

.footer-customer .quick-links a::after{
  content: " ";
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.8s;
}

.footer-customer .quick-links a:hover::after{
  width: 100%;
}

.footer-customer .quick-links a:hover{
  color: #F53F85;
}

/* footer news */

.footer-news .footer-sub {
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px 0px 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.108);
  font-weight: 600;
  width: 250px;
  position: relative;
}

.footer-sub p::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 22%;
  left: 0;
  bottom: -1px;
}


.footer-news .footer-news-content{
  font-size: 13px;
  padding-top: 20px;
  font-weight: 500;
  width: 250px;

}

.footer-news .email{
  font-size: 15px;
  padding-top: 10px;
  font-weight: 500;
  width: 200px;

}

.footer-news input {
  padding: 13px;
  background-color: #000;
  width: 100%;
  margin-top: 10px; 
  transition: 0.3s;
  border: 1px solid white;
  border-radius: 5px;
  color: white;

}

.footer-news .sub-button {
  padding-top: 5px;
}

.footer-news a {
  color: white;
  padding: 10px;
  border: 1px solid  #F53F85;
  width: 100%;
  background: #F53F85;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.8s;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.footer-news a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* footer-last */
.footer-last{
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.footer-last-left{
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.footer-last-left a{
  font-weight: 600;
  text-decoration: none;
  color: #f1f1f1;
  position: relative;
  transition: 0.3s;
  font-size: 15px;
}

.footer-last-left a:hover{
  color: #F53F95;
}

.footer-last-left a::after{
  content: ' ';
  position: absolute;
  background-color: #F53F95;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -2px;
  transition: 0.8s;
}

.footer-last-left a:hover::after{
  width: 100%;
}

.footer-last-right li{
  cursor: pointer;
  transition: 0.3s;
}

.footer-last-right li:hover{
  transform: scale(1.3);
  z-index: 2;
}

/* #############media-screen################ */

@media (max-width: 1050px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
  .navbar-second {
    flex-direction: column;
  }

  .navbar .right-side .small-icon{
    display: inline;
  }

  .navbar-second .nav-icons .nav-icons-one{
    display: none;
  }

  .navbar-second .nav-links{
    display: none;
  }

  .navbar-second{
    flex-direction: row;
  }
}



@media (max-width: 992px) {

  .content{
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 50px 10px;
    text-align: center; 
  }

  .customer .login ,h5,p{
    padding-top: 10px;
    align-items: center;
    text-align: center;
    width: auto;
  }

  .content .login,.customer {
    width: 80%;
  }

  .customer .new h4{
    padding-top: 20px;
    
  }
  .closebar{
    display: none;
  }

  .footer{
    height: auto;
    width: auto;
    padding: 30px;
  }

  .footer-last-right li{
    padding-top: 10px;
  }

  .footer-about .footer-about-content{
    width: auto;
    padding-top: 8px;
  }

  .footer-terms p{
    width: auto;
    text-align: left;
  }

  .footer-news .footer-news-content{
    flex-wrap: wrap;
    padding-top: 10px;
    text-align: left;
    width: auto;
  }

  .footer-news .email{
    width: auto;
    text-align: left;
  }
  
  .footer .footer-sub{
    width: auto;
    display: inline-block;
  }

  .footer-quick{
    margin-right: 145px;
  }

  .navbar-second .nav-links{
    display: none;
  }

  .navbar-second{
    flex-direction: row;
    padding: 15px;
  }

  .navbar{
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

  .head{
    padding: 15px;
  }

  .head .account-link ul {
    margin-top: 20px;
  }

}

@media (max-width: 576px){
  .navbar li{
    flex-direction: column;
    width: auto;
    font-size: 15px;
  }

  .footer-slide-image img{
    height: 450px;
    width: auto;
  }

  .footer-last{
    flex-direction: column;
    align-items: center;
  }

  .head{
    flex-direction: column;
  }
}